body {
  background-image: url("background.jpg");
  background-repeat: repeat;
  color: #2AA299;
  margin-bottom: 0px !important;
}

.searchlist {
  list-style-type: none;
}

option {
  color: #DE3A79;
}

.text {
  font-family: 'Pacifico';
}

nav {
  font-family: 'Pacifico';
  font-size: 2em !important;
  padding: .5em 1em .5em 1em;
  font-weight: 300;
  text-align: center;
}

.navbar-brand {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #DE3A79;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: .1em;
  -webkit-text-fill-color: #D4F7F4;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #FFD142;
}

.navbar-brand:visited {
  color: #DE3A79;
}

.content {
  min-height: calc(100vh - 70px);
}

button {
  background-color: #FFE184;
  border: none;
  color: white;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

button:hover {
  background-color: #FFD861;
  cursor: pointer;
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background-color: #71DAD2;
  color: white;
  padding: .5em;
}

.bg-acl {
  background-color: #71DAD2;
}

#box {
  outline-style: solid;
  outline-width: thin;
  float: left;
}

.box1 {
  padding: 50px;
}

.a:hover {
  cursor: pointer;
}

select {
  color: #DE3A79;
  font-weight: 200;
}

.a-acl {
  color: #D4F7F4 !important;
}

.my-card:hover {
  border-color: #826199;
}

.search {
  border-style: solid;
  background-color: white;
  margin: 2em;
  border: solid #D4F7F4;
  padding: 3em;
  text-align: center;
}

#results {
  display: flex;
  border-style: solid;
  background-color: white;
  margin: 2em;
  border: solid #D4F7F4;
  padding: 3em;
  text-align: center;
  color: #DE3A79;
}

#map {
  flex: 1;
  display: flex;
  height: 100vh;
  justify-content: center;
}

#mapid {
  flex: 1;
  position: fixed;
  height: 50vh;
  width: 40vw;
}

#res-list {
  flex: 1;
}

#result-list {
  type="1";
}