body {
  background-image: url("background.jpg");
  background-repeat: repeat;
  color: #2AA299;
}

.searchlist {
  list-style-type: none;
}

option {
  color: #DE3A79;
}

nav {
  font-family: 'Pacifico';
  font-size: 2em !important;
  padding: .5em 1em .5em 1em;
  font-weight: 300;
}

.navbar-brand {
  text-decoration: none;
  color: #D4F7F4;
}

.navbar-brand:visited {
  color: #D4F7F4;
}

.footer-sticky {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bg-acl {
  background-color: #71DAD2;
}

#box {
  outline-style: solid;
  outline-width: thin;
  float: left;
}

.box1 {
  padding: 50px;
}

.a-acl {
  color: #D4F7F4 !important;
}

.my-card:hover {
  border-color: #826199;
}

.search {
  border-style: solid;
  background-color: white;
  margin: 2em;
  border: solid #D4F7F4;
  padding: 3em;
  text-align: center;
}

#results {
  display: flex;
  border-style: solid;
  background-color: white;
  margin: 2em;
  border: solid #D4F7F4;
  padding: 3em;
  text-align: center;
  color: #DE3A79;
  list-style-type: none;
}

#map {
  flex: 1;
  display: flex;
  height: 100vh;
  justify-content: center;
}

#mapid {
  flex: 1;
  position: fixed;
  height: 50vh;
  width: 40vw;
}

#res-list {
  flex: 1;
}